@import '../../../scss/_variables';
 
.wrapper {
    padding: 0.5rem;

    .main-nav {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            zoom: 1;
            position: relative;
            height: 50px;

            a {
                color: #fff;
                display: block;
                padding: 0;
                margin: 0 1rem;
                cursor: pointer;

                &.active {
                    color: $activeMenu;
                }

                &.active:hover {
                    color: $activeMenu;
                }

                &:hover {
                    color: $activeMenu;
                }

                &.reverse {
                    transform: scaleX(-1);
                }

                i {
                    font-size: 2.5rem;
                }

            }
        }
    }




}
