/* This partial contains repeatable property values, such as brand colors and sizes. */

$main-color: #212529;
$button-color: #e1a21e;
$button-color-active: #ebc002;
$main-text-color: #d1d1d1;
$secondary-text-color: #718096;
$epg-bgcolor: #171923;
$epg-current-time: #e1a21e;
$activeMenu: #e1a21e;

$modalBackgroundColor: #1a202c;
$modalBackdropBg: rgba(0, 0, 0, 0.75);

$timelineWidth: 7200px;



